/*Fontes do site*/
@font-face {
     font-family: streetwear;
     src: url('../font/streetwear.otf');
}
.streetwear{
	font-family: streetwear;
}
@font-face {
     font-family: helvlight;
     src: url('../font/helvlight.TTF');
}
.helvlight{
	font-family: helvlight;
}

/*CSS geral*/
header{
	width: 100%;
	position: fixed;
	background: linear-gradient(to bottom, rgba(0,0,0,0.95) 0%,rgba(0,0,0,0) 100%);
	z-index: 99999999999;
}
.navbar-toggler:not([disabled]):not(.disabled){
	background-color: white;
}
.navbar-light .navbar-nav .nav-link{
	font-size: 20px;
	color: white;
	cursor: pointer;
}
.navbar-expand-lg .navbar-nav .nav-link{
	padding-right: 0;
	padding-left: 4rem;
}
#logo_principal{
	cursor: pointer;
}
html, body, main{
	width: 100%;
	height: 100%;
	min-height: 100%;
}
.section-100{
	height: 100%;
	min-height: 100%;
}
.bg-principal{
	background-image: url('../img/bg-principal.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 15%;
}
.bg-principal h1{
	color: #f8981d;
	font-size: 80px;
	text-align: center;
}
.bg-galeria{
	background-image: url('../img/padrao-ferramentas-branco.jpg');
}
.bg-ferramentas{
	background-image: url('../img/bg-ferramentas.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-contato{
	background-image: url('../img/padrao-ferramentas-amarelo.jpg');
	overflow: hidden;
}
.bg-footer{
	width: 100%;
	height: 50px;
	background-color: gray;
	padding-top: 13px;
	font-size: 15px;
	color: white;
}
.bg-black-transparent{
	background-image: url('../img/bg-preta-transparente.png');
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 30px;
}
.subtitulo{
	text-align: center;
	font-size: 35px;
	padding-top: 80px;
}
.text-black{
	color: black;
}
.text-white{
	color: white;
}
.text-blue{
	color: #138df2;
}
.galeria{
	width: 900px;
	height: 500px;
	overflow: hidden;
	margin: 0 auto;
}
.galeria .slide{
	float: left;
	width: 900px;
	height: 100%;
	text-align: center;
}
.galeria img{
	width: auto;
	height: 100%;
}
.box-movel{
	width: 3000px;
	height: 100%;
}
.arrow{
	margin-top: 200px;
	cursor: pointer;
}
.arrow-left{
	float: left;
}
.arrow-right{
	float: right;
}
.container-galeria{
	margin: 0 auto;
}
.container-arrows{
	position: relative;
	margin: 0 auto
}
.bg-ferramentas .container{
	margin-top: 10%;
}
.bg-ferramentas img{
	width: 100%;
}
.bg-ferramentas .paragrafo{
	color: whitesmoke;
	font-size: 20px;
}
.box-form-contato{
	border-radius: 50px;
	box-shadow: 10px 10px 10px 1px #888888;
	background-color: white;
	height: 100%;
	min-height: 100%;
	padding: 50px;
}
.box-contato{
	padding-top: 30px;
	height: 800px;
}
.contatos-txt{
	font-size: 18px;
}
.contatos-txt ul li{
	list-style: none;
}
.contatos-txt ul{
	padding: 0;
}

/*Botão Whats	*/
.whatsapp-btn{
	position: fixed;
	width: 100%;
	height: auto;
	bottom: 0;
	background-color: white;
	text-align: center;
	font-size: 18px;
	padding: 5px 0;
	box-shadow: 0px 0px 10px #000;
}
.whatsapp-btn a{
	text-decoration: none;
	text-transform: none;
}
.whatsapp-btn img{
	width: 40px;
}

/*Responsivo*/

@media only screen and (max-width: 500px) {
	#logo_principal{
		max-width: 150px;
	}
}
@media only screen and (max-width: 800px) {
	.bg-principal{
		background-position: center center;
	}
	.bg-principal h1{
		font-size: 40px;
		margin-top: 100px;
	}
	.section-responsive{
		height: auto;
		min-height: 100%;
	}
	.container .arrow{
		margin-top: 0;
		display: none;
	}
	.galeria{
		width: 100%;
		height: auto;
	}
	.box-movel{
		width: 100%;
	}
	.galeria .slide{
		width: 100%;
		margin-bottom: 30px;
		float: none;
	}
	.galeria .slide img{
		width: 100%;
	}
	.bg-contato{
		padding-left: 20px; 
		padding-right: 20px;
		padding-bottom: 200px;
	}
	.contatos-txt img{
		width: 100%;
	}
	.bg-footer{
		font-size: 12px;
		text-align: center;
	}
}